# GUI
PySide6==6.9.0
pillow==10.3.0
matplotlib==3.8.4
tifffile==2023.4.12

# Core dependencies
numpy==1.26.4
natsort==8.4.0

# PyTorch
torch==2.5.1
torchvision==0.20.1

# Omnipose (older working commit)
omnipose==1.0.6
